<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!---->
        <!-- LP Font Icon Binder  -->
        <!---->
        <record id="action_lp_fonticonbinder" model="ir.actions.act_window">
            <field name="name">Font Icon Binders</field>
            <field name="res_model">lp.fonticonbinder</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="menu_lp_fonticonbinder" name="Font Icon Binders"
            parent="base.next_id_2"
            action="action_lp_fonticonbinder" groups="base.group_no_one"/>
    </data>
</odoo>
